* {
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #e5e5e5;
}

.topo{
    width: 100%;
    height: 92px;
    padding: 18px 21px;
    
    position: fixed;
    top: 0;

    background-color: #cf2b2b;
    color: #fff;

    z-index: 1;
}

.topo p:first-child {
    font-size: 44px;
    color: #fff;
    font-family: 'Righteous', cursive;
}

.text{
    color: #000;
    margin: 27px 0 17px 15px;
    font-size: 26px;
    font-family: 'Righteous', cursive;
}

.container{
    margin: 123px 0 108px 0;
}

.container ul{
    display: flex;
    padding: 10px 0;
    overflow: scroll;
}

.container ul::-webkit-scrollbar{
    display: none;
}

.container ul li:last-child{
    margin-right: 15px;
}

.container ul li{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 172px;
    height: 216px;
    margin-left: 16px;
    border-radius: 9px;
    padding: 10px;

    background-color: #fff;
    box-shadow: 0 0 0.25em #d1d1d1;
}

.selecionado{
    border: 5px solid #32B72F;
}

li img{
    width: 144px;
    height: 87px;
    border-radius: 4px;
}

.descricao{
    font-size: 15px;
    color: #a6a6a6;
}

.preco{
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}

ion-icon{
    color: #32B72F;
    display: none;
    z-index: 0;
}

.aparecer{
    display: block;
}

.preco div{
    display: flex;
}

.preco div p{
    margin-left: 5px;
}

.botao{
    position: fixed;
    bottom: 0;

    width: 100%;
    height: 92px;
    padding: 15px 25px;

    background-color: #fff;
}

.botao input{
    width: 100%;
    height: 61px;
    border-radius: 50px;
    font-size: 20px;
    border: none;
    
    background-color: #cbcbcb;
    color: #fff;

    text-align: center;
    white-space: normal;
}

.botao .fechar{
    width: calc(100% - 50px);
    height: 61px;

    position: fixed;
    z-index: 1;
    padding: 0px;
    margin: 0 25px;

    font-weight: bold;
    bottom: 15px;
    left: 0;

    background-color: #32B72F;
}

.desaparecer{
    display: none;
}

.confirmacao{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255,0.9);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.container-confirmacao{
    width: 377px;
    background-color: #50d074;
    border-radius: 9px;

    position: fixed;
    top: calc( (100% - 353px) / 2);
    left: calc( (100% - 377px) / 2);
    z-index: 3;

    display: flex;
    flex-direction: column;
    align-items: center;

    color: #fff;
    font-size: 22px;
}

.container-confirmacao .confirme{
    width: 100%;
    text-align: center;
    margin: 21px 0 15px;
}

.container-confirmacao input{
    width: 329px;
    height: 52px;
    border-radius: 100px;
    border: none;
    font-size: 22px;

    background-color: #fff;
    color: #50d074;
    font-weight: bold;
}

.produtos{
    width: 326px;
    margin-bottom: 24px;
}

.escolha-comida, .escolha-bebida, .escolha-sobremesa, .nome, .endereco{
    display: flex;
    justify-content: space-between;
    margin: 15px 0;

    font-size: 22px;
    font-weight: 400;
}

.escolha-total{
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.container-confirmacao input:last-child{
    background-color: #50d074;
    color: #fff;
    margin-bottom: 2px;
}